.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Про нас

                        ul.mobile-nav-menu__sub
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Хто ми
                            
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Проекти
                            
                            li.mobile-nav-menu__sub-item
                                a.mobile-nav-menu__sub-link(href="#") Команда

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Публікації
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Дослідження
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Команда

            .mobile-nav__contacts
                .phone.phone--white.mobile-nav__phone
                    svg.phone__icon(width="22" height="22")
                        use(xlink:href="img/sprite.svg#phone")
                    
                    ul.phone__list
                        li.phone__item
                            a.phone__number(href="tel:+380986660563") +38 098 666 05 63

                        li.phone__item
                            a.phone__link(href="#") Підтримай нас
