section.page-section
    .container.page-section__container
        header.page-header.page-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") Про нас

            h1.section-title Про нас

        .page-section__content
            picture.page-section__picture
                img.page-section__img(src="img/about-img.webp" srcset="img/about-img@2x.webp 2x" loading="lazy" width="540" height="380"  alt="alt")

            .page-section__text
                p
                    strong “Голка”
                    |  — об’єднує представників громадськості, медіа, різних гілок влади, бізнесу та міжнародних партнерів задля захисту суспільно важливих цінностей та зміцнення української державності. 
                    strong Ніхто не може прийняти політики для нас без нас.
                p Ми беремо участь у формуванні візії розвитку держави та громад, об’єднуємо зацікавлені сторони (стейкхолдерів), налагоджуємо комунікацію та взаємодію для всебічного врахування інтересів суспільства під час вироблення політик та ухвалення рішень владою. 
                p При цьому інтереси усіх сторін мають бути збалансованими, а гілки влади повинні зберігати свою незалежність і не деформувати одна одну. 
                p За таких умов в Україні буде сприятливий інвестиційний клімат для відбудови і донори зможуть успішно реалізовувати проєкти, які відповідають інтересам нашої держави.
