section.education-section
    .container.education-section__container
        h2.section-title.education-section__title.animation-down(data-delay='0.2') Освіта

        ul.education-section__list
            li.education-section__item.animation-down(data-delay='0.2')
                h3.education-section__years 2001—2006 роки
                p.education-section__descr Інститут журналістики Київського національного університету імені Тараса Шевченка
            
            li.education-section__item.animation-down(data-delay='0.2')
                h3.education-section__years Аспірантура 2008-2010 роки
                p.education-section__descr Національний університет 
                    br
                    | “Києво-Могилянська академія”
