section.goals-section
    .container.goals-section__container
        h2.section-title.goals-section__title.animation-down(data-delay='0.2') Для досягнення наших цілей ми:

        ul.goals-section__list
            li.goals-section__item.animation-down(data-delay='0.2')
                .goal-card
                    .goal-card__pic
                        svg.goal-card__icon(width="42" height="42")
                            use(xlink:href="img/sprite.svg#goal-1")
                    
                    p.goal-card__descr Здійснюємо моніторинг, аналіз політик влади із дисбалансом інтересів сторін з метою його виправлення, в тому числі усунення корупційних ризиків. Пріоритетними є рішення влади, які стосуються невідновлювальних або важко відновлювальних ресурсів держави і громад — землі, лісів, водойм або фінансів;

            li.goals-section__item.animation-down(data-delay='0.2')
                .goal-card
                    .goal-card__pic
                        svg.goal-card__icon(width="50" height="43")
                            use(xlink:href="img/sprite.svg#goal-2")
                    
                    p.goal-card__descr Допомагаємо в адвокації іншим громадським організаціям та ініціативам, які мають спільні з нами цінності, і посилюємо свій та їхній вплив на політичну систему;
            
            li.goals-section__item.animation-down(data-delay='0.2')
                .goal-card
                    .goal-card__pic
                        svg.goal-card__icon(width="42" height="42")
                            use(xlink:href="img/sprite.svg#goal-3")
                    
                    p.goal-card__descr Стежимо за проведенням реформи децентралізації та дотримання регіональної політики, а також за виборчою реформою задля дотримання європейських стандартів і якісного впровадження цих реформ;
            
            li.goals-section__item.animation-down(data-delay='0.2')
                .goal-card
                    .goal-card__pic
                        svg.goal-card__icon(width="25" height="53")
                            use(xlink:href="img/sprite.svg#goal-4")
                    
                    p.goal-card__descr Виявляємо та протидіємо фактам деформованого впливу під час взаємодії гілок влади, які можуть вести до авторитаризму чи узурпації влади. Окрім того протидіємо кадровим політикам, які шкодять суверенітету держави.
