section.history-section
    .container.history-section__container
        header.page-header.history-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") Історія

            h1.section-title Історія

        .history-section__row
            .history-section__content
                p Ідея створити організацію, яка б посилювала взаємодію громадськості, медіа, різних гілок влади, бізнесу та міжнародних партнерів задля захисту суспільно важливих цінностей та зміцнення державності, виникла у 2023 році.
                p До розробки концепції були залучені представники різних секторів, зокрема громадські активісти, медійники, а також ті представники з різних гілок влади, які під час російсько-Української війни допомагають протидіяти корупції, боронити суверенітет і напрацьовувати якісні політики.
                p З огляду на те, що одна з головних цілей організації об’єднати представників різних секторів задля напрацювання якісних політик, організацію назвали “Голка”.
                p
                    strong Логотип “Голки” поєднав голку, нитку та меч.
                p Голка і меч — це символи лідерства, які задають напрям руху у захисті цінностей і свідчать про готовність їх відстоювати. Голка веде нитку за собою, а нитка — дозволяє зшивати представників різних секторів та гілок влади у цій боротьбі.
                p Співзасновницями організації стали журналістки та комунікаційниці 
                    a.red-link(href="#") Ірина Федорів
                    |  та 
                    a.red-link(href="#") Маргарита Ситник.

            picture.history-section__picture
                img.history-section__img(src="img/history-img.webp" srcset="img/history-img@2x.webp 2x" loading="lazy" width="548" height="223"  alt="alt")
