section.home-section
    .container.home-section__container
        ul.home-section__list
            li.home-section__item.home-section__item--big.animation-down(data-delay='0.2')
                .news-big-card
                    ul.news-big-card__tags
                        li.news-big-card__tags-item
                            a.news-big-card__tags-link(href="#") Вибори

                    a.news-big-card__link(href="#")
                        picture.news-big-card__picture
                            img.news-big-card__img(src="img/news-img-1.webp" srcset="img/news-img-1@2x.webp 2x" width="540" height="314"  alt="alt")

                        .news-big-card__content
                            h1.news-big-card__title Розкрадання бюджету на охороні укриттів?
                            
                            .news-big-card__text
                                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.

                            .news-big-card__info
                                svg.news-big-card__logo(width="52" height="23")
                                    use(xlink:href="img/sprite.svg#logo-ua")

                                time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                        
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Екологія
                        
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                        
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Екологія
                        
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.home-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h2.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023

        .home-section__more.animation-down(data-delay='0.2')
            a.button.home-section__more-button(href="#") Усі публікації
