section.latest-section
    .container.latest-section__container
        h2.section-title.latest-section__title.animation-down(data-delay='0.2') Останні публікації

        .latest-slider-wrap.animation-down(data-delay='0.2')
            .swiper.latest-slider
                .swiper-wrapper
                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Екологія
                                
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету на охороні укриттів?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023
                    
                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Екологія
                                
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету на охороні укриттів?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023

                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                    
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023

                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Екологія
                                
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету на охороні укриттів?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023

                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Екологія
                                
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету на охороні укриттів?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023

                    .swiper-slide.latest-slider__slide
                        .news-card
                            ul.news-card__tags
                                li.news-card__tags-item
                                    a.news-card__tags-link(href="#") Суд
                                    
                            a.news-card__link(href="#")
                                picture.news-card__picture
                                    img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                                h3.news-card__title Розкрадання бюджету?

                                .news-card__info
                                    .user.news-card__user
                                        svg.user__icon(width="18" height="17")
                                            use(xlink:href="img/sprite.svg#user")
                                        span.user__name Іванов І.
                                    
                                    time.date.news-big-card__date 16.12.2023

            button.button.latest-slider__prev(type="button" aria-label="previous slide")
                svg.button__icon(width="7" height="12")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.button.latest-slider__next(type="button" aria-label="next slide")
                svg.button__icon(width="7" height="12")
                    use(xlink:href="img/sprite.svg#arrow-right")
