section.news-section
    .container.news-section__container
        header.page-header.news-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") Публікації

            h1.section-title Публікації

        nav.tags.news-section__tags
            ul.tags__list
                li.tags__item
                    a.tags__link(href="#") Суд
                
                li.tags__item
                    a.tags__link(href="#") Екологія

        ul.news-section__list
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                        
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Екологія
                        
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                        
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Екологія
                        
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-2.webp" srcset="img/news-img-2@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-3.webp" srcset="img/news-img-3@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023
            
            li.news-section__item.animation-down(data-delay='0.2')
                .news-card
                    ul.news-card__tags
                        li.news-card__tags-item
                            a.news-card__tags-link(href="#") Суд
                            
                    a.news-card__link(href="#")
                        picture.news-card__picture
                            img.news-card__img(src="img/news-img-4.webp" srcset="img/news-img-4@2x.webp 2x" loading="lazy" width="350" height="230"  alt="alt")

                        h3.news-card__title Розкрадання бюджету на охороні укриттів?

                        .news-card__info
                            .user.news-card__user
                                svg.user__icon(width="18" height="17")
                                    use(xlink:href="img/sprite.svg#user")
                                span.user__name Іванов І.
                            
                            time.date.news-big-card__date 16.12.2023

        nav.pagenav.news-section__pagenav(aria-label="Page navigation")
            ul.pagenav__list
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Previous")
                        svg.pagenav__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-left")
                li.pagenav__item.is-active(aria-current="page")
                    a.pagenav__link(href="#") 1
                li.pagenav__item
                    a.pagenav__link(href="#") 2
                li.pagenav__item
                    span ...
                li.pagenav__item
                    a.pagenav__link(href="#") 7
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Next")
                        svg.pagenav__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-right")
