section.page-section
    .container.page-section__container
        header.page-header.page-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Публікації
                    li.breadcrumbs__item(aria-current="page") Розкрадання бюджету на охороні укриттів?

            h1.section-title Розкрадання бюджету на охороні укриттів?

        .page-section__content
            picture.page-section__picture
                img.page-section__img(src="img/news-page-img.webp" srcset="img/news-page-img@2x.webp 2x" loading="lazy" width="540" height="452"  alt="alt")

            .page-section__descr
                nav.tags.page-section__tags
                    ul.tags__list
                        li.tags__item
                            a.tags__link(href="#") Суд

                .page-section__info
                    .user.page-section__user
                        svg.user__icon(width="18" height="17")
                            use(xlink:href="img/sprite.svg#user")
                        span.user__name Іванов І.
                    
                    time.date.page-section__date 16.12.2023
            
            .page-section__text
                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
                blockquote
                    p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — 
                        strong отримаєте перелік необхідних документів для запуску бізнесу
                        |  та шаблони усіх робочих документів.

                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
                h3 Про сервіс
                p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
        
        .page-section__bottom
            h3.page-section__bottom-title Поширюйте у соц мережах

            address.social.page-section__bottom-social
                ul.social__list
                    li.social__item
                        a.social__link.social__link--facebook(href="#" aria-label="Facebook")
                            svg.social__icon(width="12" height="23")
                                use(xlink:href="img/sprite.svg#facebook")
                    
                    li.social__item
                        a.social__link.social__link--twitter(href="#" aria-label="Twitter")
                            svg.social__icon(width="20" height="16")
                                use(xlink:href="img/sprite.svg#twitter")
                    
                    li.social__item
                        a.social__link.social__link--telegram(href="#" aria-label="Telegram")
                            svg.social__icon(width="19" height="17")
                                use(xlink:href="img/sprite.svg#telegram")