section.page-section
    .container.page-section__container
        header.page-header.page-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Команда
                    li.breadcrumbs__item(aria-current="page") Ірина Федорів

            h1.section-title Ірина Федорів

        .page-section__content
            picture.page-section__picture
                img.page-section__img(src="img/profile-img.webp" srcset="img/profile-img@2x.webp 2x" loading="lazy" width="540" height="650"  alt="alt")

            .page-section__text
                p.p-big
                    strong.red-color З 2023 року
                    |  — співзасновниця і лідерка громадської ініціативи “Голка”.
                p.p-big
                    strong.red-color З 2015 по 2023 рік
                    |  — учасниця “Руху ЧЕСНО” та головна редакторка сайту організації.

                h4 За цей час вдалося:
                
                ul.diamond-list
                    li вибудувати співпрацю з провідними медіа країни (“Українською правдою”, “Дзеркалом тижня”, “Главком”, “Лівий берег”, Radio NV, Еспресо тощо) та запустити спільні спецпроєкти з медіа, зокрема на історичну тематику;
                    li провести загальнонаціональні адвокаційні кампанії щодо блокування містобудівної “реформи”, заборони московського патріархату, проросійських партій та напрацювання люстраційних політик, прийняття виборчого кодексу, подолання кнопкодавства в парламенті, запуску та відновлення декларування тощо;
                    li запустити нові формати: моніторинг прогульників у місцевих радах, огляд кандидатів у списках партій та в окремих округах, онлайн марафони “День виборів”, “100 днів роботи мера” тощо.
                    li створити найбільший онлайн Музей агітації та політичного трешу в Україні, зокрема 10 тематичних виставок та одну вуличну виставку “Інформспротив” у партнерстві з Музеєм революції гідності.
                    li створити волонтерський проєкт “Нескорені” про українських дисидентів спільно з адвокатами, які ведуть боротьбу з проросійськими представниками в Асоціації адвокатури.

                p.p-big
                    strong.red-color З 2020 року
                    |  — лекторка Міжнародного республіканського інституту (International Republican Institute).

                h4 За цей час вдалося:

                ul.diamond-list
                    li розробити 10 авторських курсів для громадських активістів та політичних діячів (проведення якісних адвокаційних кампаній та формування адвокаційних коаліцій; розробка медіа стратегії організації; формування бренду організації та особистого бренду кожного члена команди; ведення передвиборчих кампаній та залучення громадян; лідерство та особливості формування команди, тощо);
                    li провести майже 50 заходів для політичних партій та різноманітних громадських організацій;
                    li учасниками заходів стали понад 600 політично активних громадян;
                
                p.p-big
                    strong.red-color З 2005 по 2015 рік
                    |  — Керівник інформаційно-аналітичний відділу програми “Вікна-Новини” телеканалу “СТБ”.

                h4 За цей час вдалося:

                ul.diamond-list
                    li налагодити роботу одного з найсильніших продюсерських відділів з-поміж новинних служб національних телеканалів;
                    li забезпечити оперативну співпрацю з Верховною Радою, урядом, силовими структурами та експертними середовищами;
                    li співпродюсувати в Україні зйомки документального фільму “Система Путіна” для французької кінокомпанії Le Grain De Sable (культовий режисер Жан-Мішель Карре). Фільм був найскандальнішим на Амстердамському кінофестивалі документалістики і отримав нагороди. А також продюсувати разом з продакшином телеканалу документальний фільм “Голод в брехні”.
                
                p.p-big
                    strong.red-color З 2011-2013
                    |  роки викладала політологію та авторський курс щодо ведення передвиборчих кампаній та взаємодії зі ЗМІ на кафедрі політології Національного університету “Києво-Могилянська академія”.

                p.p-big
                    strong.red-color З 2010 року
                    |  — блогерка “Української правди”.

                h4 За цей час вдалося:

                ul.diamond-list
                    li увійти у 2022 році в топ-3 журналістів-розслідувачів “Української правди”, які впродовж 12 років системно висвітлювали антикорупційні теми. Рейтинг склав YouControl на основі модулю “Репутація в медіа”;
                    li перемогти у конкурсі FLEG, який фінансувався ЄС та реалізовувався “Світовим банком”, із серією блогів на захист Біличанського лісу. Нагороди в цьому конкурсі отримувала в різні роки.

                p.p-big
                    strong.red-color У 2010
                    |  обрана депутаткою Коцюбинської селищної ради (самовисуванка). Повноваження тривали до 2015. Після завершення каденції не балотувалася більше.
                
                h4 За цей час вдалося:

                ul.diamond-list
                    li провести адвокаційну кампанію щодо збереження Біличанського лісу, в результаті якої він отримав найвищий природоохоронний статус національного парку;
                    li запустити волонтерський проєкт громадянської журналістики “Громада Приірпіння” — сайт, де мешканці регіону можуть дописувати про суспільно-важливі політичні події. Цей проєкт розглядали як один із вдалих зразків громадянської журналістики в регіонах на Lviv Media Forum;
                    li згуртувати і мобілізувати громаду для участі у подальших місцевих виборах, на яких на посаду мера у 2015 році перемогла кандидатура від громади, яка взяла участь у програмі “Нові лідери” на “Новому каналі” і дійшла до фіналу. Що стосується кандидатів у депутати від громади, то а 2016 році вдалося отримати після розпуску місцевої ради парламентом 10 з 26 мандатів у раді. Таким чином після одного представницького мандату без залучення додаткових ресурсів громада отримала голову та депутатів, які не представляли інтереси забудовників. Це команда змогла в подальшому захистити Біличанський ліс та повернути з приватної власності котельні громаді.
