section.programs-section
    .container.programs-section__container
        h2.section-title.programs-section__title.animation-down(data-delay='0.2') Учасниця освітніх програм

        ul.programs-section__list
            li.programs-section__item.animation-down(data-delay='0.2')
                .program-card
                    h3.program-card__title Києво-Могилянська бізнес-школа (маркетинг та бренд-менеджмент)
                    .program-card__number 01

            li.programs-section__item.animation-down(data-delay='0.2')
                .program-card
                    h3.program-card__title Відкритий світ
                    .program-card__number 02
            
            li.programs-section__item.animation-down(data-delay='0.2')
                .program-card
                    h3.program-card__title Літня Академія Олександра Квасневського з питань європейської інтеграції
                    .program-card__number 03
            
            li.programs-section__item.animation-down(data-delay='0.2')
                .program-card
                    h3.program-card__title Українська школа політичних студій
                    .program-card__number 04
