section.recharge-section
    .container.recharge-section__container
        header.page-header.recharge-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") Перезаряди країну

            h1.section-title Перезаряди країну

        ul.recharge-section__list
            li.recharge-section__item.recharge-section__item--big.animation-down(data-delay='0.2')
                picture.recharge-section__logo
                    img.recharge-section__logo-img(src="img/recharge-full.webp" srcset="img/recharge-full@2x.webp 2x" loading="lazy" width="460" height="273" alt="alt")

                .recharge-section__text
                    p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
                    p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
            
            li.recharge-section__item.animation-down(data-delay='0.2')
                picture.recharge-section__picture
                    img.recharge-section__picture-img(src="img/rada.webp" srcset="img/rada@2x.webp 2x" loading="lazy" width="202" height="171" alt="alt")
                
                h2.recharge-section__subtitle Верховна Рада України

                a.button.button--red.button--big.recharge-section__button(href="#")
                    img.button__icon(src="img/parliament.svg" width="46" height="46" alt="")
                    | Рішення парламенту

            li.recharge-section__item.animation-down(data-delay='0.2')
                picture.recharge-section__picture
                    img.recharge-section__picture-img(src="img/kyiv.webp" srcset="img/kyiv@2x.webp 2x" loading="lazy" width="247" height="171" alt="alt")
                
                h2.recharge-section__subtitle Київрада
                p.recharge-section__info Триває розробка розділу
