section.research-section
    .container.research-section__container
        header.page-header.research-section__header
            nav.breadcrumbs(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item(aria-current="page") Дослідження

            h1.section-title Дослідження

        ul.research-section__list
            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити

            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити
            
            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити
            
            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити

        nav.pagenav.research-section__pagenav(aria-label="Page navigation")
            ul.pagenav__list
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Previous")
                        svg.pagenav__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-left")
                li.pagenav__item.is-active(aria-current="page")
                    a.pagenav__link(href="#") 1
                li.pagenav__item
                    a.pagenav__link(href="#") 2
                li.pagenav__item
                    span ...
                li.pagenav__item
                    a.pagenav__link(href="#") 7
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Next")
                        svg.pagenav__icon(width="7" height="12")
                            use(xlink:href="img/sprite.svg#arrow-right")
