section.research-section
    .container.research-section__container
        h1.section-title.research-section__title.animation-down(data-delay='0.2') Дослідження

        ul.research-section__list
            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити

            li.research-section__item.animation-down(data-delay='0.2')
                .research-card
                    a.research-card__link(href="#")
                        picture.research-card__picture
                            img.research-card__img(src="img/research-img.webp" srcset="img/research-img@2x.webp 2x" loading="lazy" width="160" height="144"  alt="alt")

                        .research-card__content
                            h3.research-card__title Розкрадання бюджету на охороні укриттів?

                            time.research-card__date 16.12.2023

                    a.button.button--red.research-card__button(href="#")
                        svg.button__icon(width="32" height="32")
                            use(xlink:href="img/sprite.svg#pdf")
                        | Завантажити
