section.seo-section
    .container.seo-section__container
        h2.section-title.seo-section__title Про сервіс

        .seo-section__text
            p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
            p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.
            p Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів. Тут ви знайдете список ідей для бізнесу, які потребують мінімального стартового капіталу та матимуть попит у вашому місті. Навіть більше — отримаєте перелік необхідних документів для запуску бізнесу та шаблони усіх робочих документів.

        button.seo-section__more(type="button") Читати детальніше
            svg.arrow-button__icon(width="11" height="6")
                use(xlink:href="img/sprite.svg#dropdown-arrow")
