section.team-section.team-section--inner
    .container.team-section__container
        h2.section-title.team-section__title Команда

        .team-slider-wrap
            .swiper.team-slider
                .swiper-wrapper
                    .swiper-slide.team-slider__slide
                        .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-1.webp" srcset="img/team-img-1@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Ірина Федорів
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr Лідерка організації
                            
                            .phone.team-card__phone
                                svg.phone__icon(width="22" height="22")
                                    use(xlink:href="img/sprite.svg#phone")
                                
                                ul.phone__list
                                    li.phone__item
                                        a.phone__number(href="tel:+380986660563") +38 098 666 05 63

                    .swiper-slide.team-slider__slide
                        .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-2.webp" srcset="img/team-img-2@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Маргарита Ситник
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr Очільниця проєктів міжнародного співробітництва

                    .swiper-slide.team-slider__slide
                        .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-1.webp" srcset="img/team-img-1@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Георгій Могильний
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr Аналітик

                    .swiper-slide.team-slider__slide
                         .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-2.webp" srcset="img/team-img-2@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Валерія Сокотюк
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr SMM-менеджерка

                    .swiper-slide.team-slider__slide
                         .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-2.webp" srcset="img/team-img-2@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Валерія Сокотюк
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr SMM-менеджерка

                    .swiper-slide.team-slider__slide
                        .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-2.webp" srcset="img/team-img-2@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Маргарита Ситник
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr Очільниця проєктів міжнародного співробітництва

                    .swiper-slide.team-slider__slide
                        .team-card
                            a.team-card__link(href="#")
                                picture.team-card__picture
                                    img.team-card__img(src="img/team-img-1.webp" srcset="img/team-img-1@2x.webp 2x" loading="lazy" width="253" height="230"  alt="alt")

                            .team-card__title
                                h3.team-card__name
                                    a.team-card__link(href="#") Георгій Могильний
                                
                                .info.team-card__info
                                    button.info__toggle(type="button")
                                        svg.info__toggle-icon(width="26" height="26")
                                            use(xlink:href="img/sprite.svg#info")

                                    .info__dropdown
                                        h4.info__title Експертиза:
                                        ul.info__list
                                            li.info__list-item Реформи містобудування
                                            li.info__list-item Реформа децентралізації
                                            li.info__list-item Виборча реформа
                                            li.info__list-item Специфіка роботи органів місцевого самоврядування

                            p.team-card__descr Аналітик
                            
            button.button.team-slider__prev(type="button" aria-label="previous slide")
                svg.button__icon(width="7" height="12")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.button.team-slider__next(type="button" aria-label="next slide")
                svg.button__icon(width="7" height="12")
                    use(xlink:href="img/sprite.svg#arrow-right")
