section.values-section
    .container.values-section__container
        h2.section-title.values-section__title.animation-down(data-delay='0.2') Цінності нашої комнади

        ul.values-section__list
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Ефективність
                        span.value-card__number 01
                    
                    p.value-card__descr Нам важливо досягати меншими ресурсами більших результатів.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Свобода
                        span.value-card__number 02
                    
                    p.value-card__descr Ми захищаємо не лише свободу слова, а й свободу вираження поглядів. Для нас неприйнятна не лише цензура, а й будь-які прояви самоцензури.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Боротьба
                        span.value-card__number 03
                    
                    p.value-card__descr У нас нульова толерантність до корупції. Ми викорінюємо будь-які її прояви, бо це те, що вбиває нашу державність, відтерміновує перемогу і заважає відбудові.

            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Захист
                        span.value-card__number 04
                    
                    p.value-card__descr НМи захищаємо свої джерела інформації, членів команди і інституції, чию роль намагаються деформувати.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Довіра
                        span.value-card__number 05
                    
                    p.value-card__descr Ми довіряємо членам команди і вважаємо командою не лише тих, хто представляє громадську організацію, а й тих, хто поділяє і захищає важливі для суспільства цінності.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Чесність
                        span.value-card__number 06
                    
                    p.value-card__descr Ми говоримо чесно про те, що відбувається.

            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Доступність
                        span.value-card__number 07
                    
                    p.value-card__descr Пишемо просто і зрозуміло навіть на дуже складні теми.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Саморегуляція
                        span.value-card__number 08
                    
                    p.value-card__descr Якщо ми помилилися — ми це визнаємо.
            
            li.values-section__item.animation-fade(data-delay='0.2')
                .value-card
                    .value-card__header
                        h3.value-card__title Мотивація
                        span.value-card__number 09
                    
                    p.value-card__descr У нас дуже сильна мотивація, бо саме від нас залежить, якою буде країна. Ми цінуємо роль кожного члена команди і говоримо публічно про його досягнення.

        .values-section__buttons.animation-down(data-delay='0.2')
            a.button.values-section__button(href="#") Історія організації
